/*GENERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #ff8c9a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*CIRCLES + RING*/
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.rainbowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleLime {
  position: absolute;
  top: 0;
}
.circlePeach {
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
}

.circleCorail {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
}

.circlePink {
  position: absolute;
  top: 4.5rem;
  bottom: 4.5rem;
}

.circlePurple {
  position: absolute;
  top: 6rem;
  bottom: 6rem;
}

.circleLime__Stroke {
  stroke-dasharray: calc(12rem * 2 * PI) calc(12rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(12rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  animation: load 6s ease-in;
  animation-fill-mode: forwards;
}

.circlePeach__Stroke {
  stroke-dasharray: calc(10.5rem * 2 * PI) calc(10.5rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(10.5rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  animation: load 5.5s ease-in;
  animation-fill-mode: forwards;
}

.circleCorail__Stroke {
  stroke-dasharray: calc(9rem * 2 * PI) calc(9rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(9rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
}

.circlePink__Stroke {
  stroke-dasharray: calc(7.5rem * 2 * PI) calc(7.5rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(7.5rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
}

.circlePurple__Stroke {
  stroke-dasharray: calc(6rem * 2 * PI) calc(6rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(6rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
}

@keyframes load {
  100% {
    stroke-dashoffset: 0;
  }
}

.containerAlarm {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  background: #dcffe5;
  border: none;
  position: absolute;
  top: 16em;
  cursor: pointer;
}

.doubleBorder {
  animation: doubleBorder 1.5s ease-in infinite;
}

@keyframes doubleBorder {
  50% {
    box-shadow: 0px 0px 0 6px #dcffe5;
  }
}

.iconAlarm {
  width: 70%;
}

.animationRotation {
  animation: rotation 1.5s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

/*TIMER + CHOICES*/
.assetsContainer {
  margin-top: 28rem;
}
.timerView {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #dcffe5;
  text-align: center;
}

.buttonsBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3.5rem;
  border: solid 3px #dcffe5;
  border-radius: 40px;
}

.choiceBar {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.cursor {
  cursor: pointer;
}

.buttonPlay {
  border: solid 3px #dcffe5;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #dcffe5;
}

.pause {
  width: 7px;
  height: 20px;
  border-right: solid 3px #dcffe5;
  border-left: solid 3px #dcffe5;
  position: relative;
}

.buttonPause {
  border: solid 3px #dcffe5;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop {
  width: 20px;
  height: 20px;
  background: #dcffe5;
  position: relative;
}

.buttonStop {
  border: solid 3px #dcffe5;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choiceSession {
  display: flex;
  justify-content: space-between;
}

.choice {
  border: solid 3px #dcffe5;
  border-radius: 40px;
  background: #ff8c9a;
  padding: 0.5rem;
  font-family: sans-serif;
  color: #dcffe5;
}

.theme {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.choiceTheme {
  border: none;
  background: none;
}
