/*GENERAL*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--primaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --primaryColor: #ff8c9a;
  --secondaryColor: #dcffe5;
  --shadowColor: #dd7884;
  --shadowSecondaryColor: #dcffe5ab;
}

body.themeColors-starWarsColors {
  --primaryColor: #325eaa;
  --secondaryColor: #dcffe5;
  --shadowColor: #274881;
  --shadowSecondaryColor: #dcffe5ab;
  --circle1: #a3c4f3;
  --circle2: #90dbf4;
  --circle3: #8eecf5;
  --circle4: #98f5e1;
  --circle5: #b9fbc0;
}

body.themeColors-strangerThingsColors {
  --primaryColor: #cfbaf0;
  --secondaryColor: #fbf8cc;
  --shadowColor: #ad9bca;
  --shadowSecondaryColor: #fbf8cc8e;
  --circle1: #ffde17;
  --circle2: #7fd3f7;
  --circle3: #84f2b3;
  --circle4: #c49bdf;
  --circle5: #f7adce;
}

body.themeColors-animalCrossingColors {
  --primaryColor: #ff8c9a;
  --secondaryColor: #dcffe5;
  --shadowColor: #dd7884;
  --shadowSecondaryColor: #dcffe5ab;
  --circle1: #fbf8cc;
  --circle2: #fde4cf;
  --circle3: #ffcfd2;
  --circle4: #f1c0e8;
  --circle5: #cfbaf0;
}

body.themeColors-starWarsColors .iconStarWars {
  transform: scale(1.3);
  background: var(--circle5);
  border-radius: 40px;
}

body.themeColors-starWarsColors .iconAnimalCrossing,
.iconStrangerThings {
  filter: grayScale(70%);
  background: var(--shadowSecondaryColor);
  border-radius: 40px;
}

body.themeColors-strangerThingsColors .iconStrangerThings {
  transform: scale(1.3);
  background: var(--circle5);
  border-radius: 40px;
}

body.themeColors-strangerThingsColors .iconAnimalCrossing,
.iconStarWars {
  filter: grayScale(70%);
  background: var(--shadowSecondaryColor);
  border-radius: 40px;
}

body.themeColors-animalCrossingColors .iconAnimalCrossing {
  transform: scale(1.3);
  background: var(--circle5);
  border-radius: 40px;
}

body.themeColors-animalCrossingColors .iconStarWars,
.iconStrangerThings {
  filter: grayScale(70%);
  background: var(--shadowSecondaryColor);
  border-radius: 40px;
}

/*CIRCLES + RING*/
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.rainbowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle1 {
  position: absolute;
  top: 0;
}
.circle2 {
  position: absolute;
  top: 1.5rem;
}

.circle3 {
  position: absolute;
  top: 3rem;
}

.circle4 {
  position: absolute;
  top: 4.5rem;
}

.circle5 {
  position: absolute;
  top: 6rem;
  bottom: 6rem;
}

.animationInitial {
  animation: load 4s ease-in;
  animation-fill-mode: forwards;
}

.circle1__Stroke {
  stroke: var(--circle1);
  stroke-dasharray: calc(12rem * 2 * PI) calc(12rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(12rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 2s;
}

.circle2__Stroke {
  stroke: var(--circle2);
  stroke-dasharray: calc(10.5rem * 2 * PI) calc(10.5rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(10.5rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;

  animation-delay: 0.4s;
  transition: stroke-dashoffset 2s;
}

.circle3__Stroke {
  stroke: var(--circle3);
  stroke-dasharray: calc(9rem * 2 * PI) calc(9rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(9rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  animation-delay: 0.8s;
  transition: stroke-dashoffset 2s;
}

.circle4__Stroke {
  stroke: var(--circle4);
  stroke-dasharray: calc(7.5rem * 2 * PI) calc(7.5rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(7.5rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  animation-delay: 1.2s;
  transition: stroke-dashoffset 2s;
}

.circle5__Stroke {
  stroke: var(--circle5);
  stroke-dasharray: calc(6rem * 2 * PI) calc(6rem * 2 * PI); /*circomference*/
  stroke-dashoffset: calc(6rem * 2 * PI); /*cache donc tout le dasharray*/
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  animation-delay: 1.6s;
  transition: stroke-dashoffset 2s;
}

@keyframes load {
  100% {
    stroke-dashoffset: 0;
  }
}

.containerAlarm {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  background: var(--secondaryColor);
  border: none;
  position: absolute;
  top: 16em;
  cursor: pointer;
}

.doubleBorder {
  animation: doubleBorder 1.5s ease-in infinite;
}

@keyframes doubleBorder {
  50% {
    box-shadow: 0px 0px 0 6px var(--secondaryColor);
  }
}

.iconAlarm {
  width: 70%;
}

.animationRotation {
  animation: rotation 1.5s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

/*TIMER + CHOICES*/
.assetsContainer {
  margin-top: 28rem;
}
.timerView {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--secondaryColor);
  text-align: center;
}

.buttonsBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3.5rem;
  border: solid 3px var(--secondaryColor);
  border-radius: 40px;
  margin-top: 0.5rem;
}

.choiceBar {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.timerButtons {
  border: solid 3px var(--secondaryColor);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--primaryColor);
}

.play {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 12px solid var(--secondaryColor);
}

.pause {
  width: 12px;
  height: 15px;
  border-right: solid 3px var(--secondaryColor);
  border-left: solid 3px var(--secondaryColor);
  position: relative;
}

.stop {
  width: 15px;
  height: 15px;
  background: var(--secondaryColor);
  position: relative;
}

.choiceSession {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.choiceSessionButtons {
  border-radius: 40px;
  padding: 0.5rem;
  font-family: sans-serif;
  color: var(--secondaryColor);
  border: solid 3px var(--secondaryColor);
  background: var(--primaryColor);
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  border: none;
  background: var(--shadowColor);
}

.hidden {
  display: none;
}

.stopAlarmButton {
  border-radius: 40px;
  border: solid 3px var(--secondaryColor);
  color: var(--secondaryColor);
  font-family: sans-serif;
  padding: 0.5rem;
  background: none;
}

.theme {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  background: var(--primaryColor);
  border-radius: 40px;
  padding: 1rem;
  box-shadow: inset 0 0 0 3px var(--secondaryColor),
    inset 0 0 0 6px var(--primaryColor);
}

.choiceTheme {
  border: none;
  background: none;
  padding: 0.5rem;
}
